html, div, span, h1, h2, h3, h4, h5, h6, blockquote, pre, em,
font, img, small, strong, sub, sup, ul, ol, li, dl, dt, dd, fieldset, form, 
label, legend, tr, th, td, input, select,textarea
{
margin:0; padding:0;  border:0; outline:0;
}

h1, h2, h3, h4, h5, h6
{
 font-size: 100%;
 font-family: Verdana;
}

em
{
font-style: italic;
}

strong
{
font-weight: bold;
}

ul, ol
{
list-style: none;
}

img, fieldset
{
border:0;
}
a:focus {
    outline: thin dotted;
}
a  
{  
color: #333333;  
text-decoration: none;  
}    
a:active,
a:hover {
    text-decoration:underline;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}