
#page-wrap {
    font-family: verdana;
    font-size: 1.1em;
    margin: 10px 0 20px 20px;
    width: 650px;
}
#page-wrap a {
    color: black;
}
#page-wrap li {
    opacity: 0.83 !important;
}
#page-wrap ul {
    background: hsl(0, 0%, 90%);
    padding: 5px 30px;
    transition: all 0.5s ease 0s;
}
#page-wrap > ul ul {
    background: hsl(0, 0%, 90%);
    transition: all 0.5s ease 0s;
}
#page-wrap ul ul ul {
    background: hsl(0, 0%, 90%);
    transition: all 0.5s ease 0s;
}
#page-wrap ul:hover {
    background: hsl(0, 0%, 80%);
    color: red;
    opacity: 1;
    padding: 5px 40px;
}
#page-wrap ul ul:hover {
    background: hsl(0, 0%, 70%);
}
#page-wrap ul ul ul:hover {
    background: hsl(0, 0%, 60%);
}
